<!-- header source code -->
<!-- can't figure out why headerfont link is slightly shorter than header -->
<header>
  <a class="skip-to-content-button" href="#main">skip to content</a>
  <a href="/home.html" class="headerfont">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    diatomzone
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
    <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif">
  </a> <!-- link to home page -->
</header>
