<!-- horizontal navigation bar source code -->
<!-- whitespace adjusted: links have no whitespace, divider has whitespace on both sides due to newline -->

<nav>
  {%- for item in site.data.navigation -%}
    <button type="button">
      <a href="{{ item.link }}" {%- if page.url == item.link -%}class="current"{%- endif -%}>
        <img src="{{ '/assets/images/navicons/' | append: item.name | append: '.png' | relative_url }}" alt="" title="{{ item.name }} icon">
        <br>
        {{- item.name -}}
      </a><!-- breaking the a into 3 lines adds a space after the link name, probably due to image inline-block whitespace, but it doesn't hurt the actual navbar spacing -->
    </button>
  {%- endfor -%}
</nav>
