<!-- horizontal navigation bar source code -->
<!-- whitespace adjusted: links have no whitespace, divider has whitespace on both sides due to newline -->

<nav>
  {%- for item in site.data.navigation -%}
    <a href="{{ item.link }}" {%- if page.url == item.link -%}class="current"{%- endif -%}>
      {{- item.name -}}
    </a><!-- breaking the a into 3 lines adds a space after the link name, probably due to image inline-block whitespace, but it doesn't hurt the actual navbar spacing -->
    {%- if forloop.last == false %}
      <img src="{{ '/assets/images/gifs/explosion.gif' }}" alt="" title="explosion gif"><!-- add image after every link except last -->
    {% endif -%}
  {%- endfor -%}
</nav>
