// sass that will be converted/imported into the built site's CSS hub styles.scss

// MAIN CONTAINERS /////////////////////////////////////////////////////////////////////////////
html {
  cursor: url("/assets/images/cursor.png"), default; // added because body is not full height in main_plain.scss
  background: $colorbg; // color sometimes shows behind desktop scrollbar
  height: 100%; // full screen, base for other adjustments including background
  scroll-behavior: smooth; // for jumping between anchors (must be in html section)
}
body { // put overall styles here
  cursor: url("/assets/images/cursor.png"), default;
  color: $colorwhite;
  font-family: 'DM Mono', monospace;
  font-size: 110%; // sets base size for em to use
  text-shadow: 2px 2px 0px black;
  min-height: 100%; // full screen creates an extra bit of scroll in iframes
  overflow-y: auto; // vertical scrollbar only shown when needed
  overflow-wrap: anywhere; // long words will break to next line
  margin: 0; // full screen
  // flex centering
  display: flex;
  justify-content: center; // center horizontal
  align-items: center; // center vertical
}
div.centered { // to contain images etc, in this case for index it's the main element
  background-color: $colorbox1;
  text-align: center;
  padding: calc(#{$boxpadding} * 2);
  border: $layoutborderstyle;
  border-radius: $layoutborderradius;
  box-shadow: $layoutdropshadow;
  h2 {
    margin-top: 0;
  }
  img {
    margin: calc(#{$elementmargintb} / 2) 0 0 0;
  }
  h1 {
    margin: calc(#{$elementmargintb} / 2) 0 0 0;
  }
}
.imagegrow { // hover to grow, intended for use with div.centered
  img {
    transition: transform 0.1s;
  }
  img:hover {
    transform: scale(1.5);
    transition: transform 0.1s;
  }
}
div.flex {
  display: flex;
  flex-direction: row;
}
div { // markdown does not generate divs as far as i can tell
}
div.iframecontainer {
  // background-color: yellow;
  position: relative; // must be relative for iframe absolute position to work
  overflow: hidden;
  width: 100%; // full width of container, height is 0
  padding-top: 75%; // padding creates the height, 4:3 aspect ratio (% is based on width of the containing element)
  margin: calc(#{$elementmargintb} / 2) auto 0 auto;
}

// MAIN CONTAINED ELEMENTS /////////////////////////////////////////////////////////////////////////////
h1 {
  @include replace-bgcolor($colorbox3, $colortoggle);
  color: $coloryellow;
  font-family: "Kumar One", monospace;
  font-size: 2.4em;
  text-align: center;
  margin: 0 0 calc(#{$elementmargintb} / 2) 0;
  padding: 0;
}
h2 {
  @include replace-bgcolor($colorbg, $colortoggle);
  font-family: "Arbutus", monospace;
  color: $colororange;
  font-size: 1.9em;
  margin: calc(#{$elementmargintb} / 2) 0 0 0;
}
p { // markdown turns lines (including images) into p
  @include replace-bgcolor($colorbox2, $colortoggle);
  margin: calc(#{$elementmargintb} / 2) 0 0 0;
}
a {
  cursor: url("/assets/images/cursor.png"), default;
  color: $colorgreen;
  text-decoration: none;
}
a:link { // :link = pseudoclass unvisited
 color: $colorgreen;
}
a:visited { // :visited = pseudoclass visited
 color: $colorgreen;
}
a:hover { // :hover = pseudoclass hovered
 color: $colorred;
}
a:active { // :active = pseudoclass being clicked
 color: $coloryellow;
}
img {
  margin: 0;
  vertical-align: bottom; // displays as inline-block by default which creates The Gap
  max-width: 100%;
}
ul { // for markdown again
  margin: calc(#{$elementmargintb} / 2) 0 0 0;
  li {
    margin: calc(#{$elementmargintb} / 4) 0 0 0; // just for normal li's, no effect on listing template due to large h3 margin
    p {
      margin: 0;
    }
  }
}
hr { // divider
  width: 80%;
  border: 1.5px solid $colorblue;
  // border-radius: 20px;
  margin: calc(#{$elementmargintb} / 1) auto;
}
audio {
  // cursor: url("/assets/images/cursor.png"), default;
  vertical-align: bottom; // has gap like img, audio player displays as inline by default
  max-width: 100%;
  border-radius: 100px;
  margin: calc(#{$elementmargintb} / 2) 0 0 0;
}
iframe {
  position: absolute; // overlaps the full area of the container
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
code { // for code, some people wrap <pre> around <code>
  background-color: teal;
  color: white;
  display: inline; // default
  max-width: 100%;
  // width: fit-content;
  word-wrap: break-word;
  // overflow: auto;
  // overflow-x: scroll;
  // margin: calc(#{$elementmargintb} / 2) 0 0 0;
}
