// sass that can be converted/imported into the built site's CSS hub, ex: styles.scss

// VARIABLES, IMPORTS, ETC.

// SET SCSS VARIABLES /////////////////////////////////////////////////////////////////////////////
// $relativeurl: "/baseurl"; // for when it unfortunately needs to be hardcoded
$gapheight: 20px; // spacing between main layout elements
$boxpadding: 20px; // padding for containers
$elementmargintb: 40px; // top/bottom spacing for contained elements, ex: h1 or p
$lineheight: 1.4em; // for normal text and emojis, 1.6 is recommended, wikibox p's are reset to "normal" (~110%-120%)
$previewmarginleft: 2em; // for indenting page text preview/dialoguebox dialogue

$colorwhite: rgb(255,242,206);
$colorred: rgb(255,94,126);
$colororange: rgb(255,120,0);
$coloryellow: orange;
$colorgreen: rgb(154,183,0);
$colorblue: rgb(77,198,255);
$colorpurple: plum;

$colorbg: rgb(31,11,0);
$colorbox1: rgb(31,11,0); // black
$colorbox2: rgba(255,242,206,0.2);
$colorbox3: rgba(255,120,0,0.5);
$colorspoiler: $colorgreen;

$layoutborderstyle: 2px solid $colorwhite;
$layoutborderradius: 0px;
$layoutdropshadow: calc(#{$gapheight} / 3) calc(#{$gapheight} / 3) $colorwhite;
// $boxborderstyle: none;
$boxborderstyle: 2px solid $colorgreen;
$textdropshadow: none;
// $textdropshadow: 2px 2px 0px black;

// SCSS FUNCTION TO TOGGLE BACKGROUND COLORS ON OR OFF (I'M A GENIUS) //////////////////////////////////////////
// $colortoggle: true;
$colortoggle: false;

@mixin replace-bgcolor($localcolor, $colortoggle) {
  @if $colortoggle {
    background-color: $localcolor; // use given color when toggle is on
  } @else {
    background-color: transparent; // default color when toggle is off
  }
}

// FONTS /////////////////////////////////////////////////////////////////////////////
// @import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

@font-face { // set custom font
  font-family: myfont;
  src: url("/assets/fonts/fullfont.ttf"); // requires leading /, does not accept liquid site.baseurl
}
@font-face { // set custom font
  font-family: edosz;
  src: url("/assets/fonts/edosz.ttf"); // requires leading /, does not accept liquid site.baseurl
}
