---
layout: default
---
<!-- wiki listing page layout -->
{{ content }}

<!-- needs to be inside a div or else the indentation inexplicably breaks it -->
<div class="directory">
  <h4>skip to:</h4>
  <ul>
    {% for wikicategory in site.data.wikicategories %} <!-- open up data -->
      <li>
        <a href="#{{ wikicategory }}">{{ wikicategory }}</a> <!-- entry label, link to anchor -->
      </li>
    {% endfor %}
  </ul>
</div>

{% for wikicategory in site.data.wikicategories %} <!-- open data list -->
  <h2 id="{{ wikicategory }}">{{ wikicategory }}</h2>
  {% for item in site[page.listcategory] %} <!-- "wikipages" accesses _wikipages collection -->
    {% if item.path contains wikicategory %}
      <div class="dialoguebox">
        <div class="dialogueflex">
          <img src="/assets/images/{{ item.data.image }}" style="height:4em;" alt=""> <!-- putting inside link breaks aspect ratio... -->
          <!-- ^ aspect-ratio is needed for flex item, normal width doesn't work -->
          <div>
            <h4 style="margin-top:0;"><a href="{{ item.url }}">{{ item.title }}</a></h4>
            <p>{{ item.content | strip_html | strip_newlines | truncate: 110 }}</p> <!-- can't get truncate_words to work for some reason -->
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}
